body {
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
}
 
button {
    background-image: url("pozadi.png");
    background-size: 100%;
    margin: 5px;
}

#layout {
  padding-top: 10px;
  margin-left: auto; 
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  vertical-align:middle;
  display: table-cell;
} 